body{
    font-family: Helvetica Neue, Arial;
     font-size: 19px;
}

h1,h2{
    color: rgba(11, 142, 142, 0.82);
}
h1{
    font-size: 42px; 
}

h2{
    font-size: 30px;
}
p {
   
    text-align: justify;
    
}

